/* Reset some basic elements */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

/* Container for aligning everything nicely */
#chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #ffffff;
}

label {
    display: block;
    margin: 20px 0 10px;
}

input[type="text"] {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #333333;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Button container */
div {
    text-align: center;
}

canvas {
    margin: 20px 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Style adjustments for better spacing and appearance */
input, button {
    margin: 5px;
}

/* Ensures that the input and buttons look good on smaller screens */
@media (max-width: 600px) {
    input[type="text"], button {
        width: 80%;
    }
}
