<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basketball Stats Comparer</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>Basketball Stats Comparer</h1>
    <label for="playerName1">Enter Player 1 Name:</label>
    <input type="text" id="playerName" placeholder="e.g., LeBron James" />
    <button onclick="fetchStats()">Get Stats</button>

    <div>
      <button id="togglePPG">PPG</button>
      <button id="toggleAPG">APG</button>
      <button id="toggleRPG">RPG</button>
      <button id="toggleFG">FG%</button>
      <button id="toggle3PT">3PT%</button>
    </div>

    <div id="chartContainer">
      <canvas id="myChart" width="1000" height="1000"></canvas>
      <canvas id="radarChart" width="1000" height="1000"></canvas>
    </div>

    <script src="static/app.js"></script>
    <script src="static/radarChart.js"></script>
  </body>
</html>
