<!-- radar_chart.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player Stats Comparison</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Compare Player Stats</h1>
      <input type="text" id="playerName1" placeholder="Enter Player 1 Name" />
      <input type="text" id="playerName2" placeholder="Enter Player 2 Name" />
      <button onclick="fetchStats()">Compare</button>

      <canvas id="radarChart"></canvas>
    </div>

    <script src="static/radarChart.js"></script>
  </body>
</html>
